body {
  background-color: #222;
  color: #eee;
}

h1, h2, h3 {
  font-family: Impact;
  font-weight: bold;
}

pre code {
  color: #ccc;
  font-size: 140%;
}

.keyword {
  color: #0086b3 !important;
  font-weight: inherit !important;
}

.tag {
  color: #900 !important;
}

code {
  background-color: inherit;
}

em {
  border-bottom: 1px solid #666;
}

/**
 * Tables
 */
table td {
  padding: 8px;
  border-right: 1px solid white;
  border-bottom: 1px solid #888;
}

table td:last-child {
  border: none;
}

table th {
  border-bottom: 3px solid white;
}
